body {
    box-sizing: border-box;
    margin: 0;
    background-color: #222222;
    color: white;
}

.jumbotron{
    background-image: url(/img/healthone-wide.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover, auto 100%;
    margin-bottom:0;
    border-radius: 0px;
    border-bottom: 5px solid rgb(217, 25, 25);
    height: 35vh;

    padding: 20px 10px;
}

.jumbrotron>li, a, button {
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0 0 3px #d91919, 0 0 5px #000000;
    text-decoration: none;

}

.inlog {
    padding: 10px 25px;
    background-color: rgb(217, 25, 25);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.NavLinks li{
    display: inline-block;
    padding: 0px 10px;

}

.NavLinks li a:hover {
    color: rgb(255, 99, 99);
}

.card {
    background-color: #222222;
    border-radius: 1px;
    border-color: white;
}

.time-graph {
    border-radius: 1px;
    border-color: white;

}

table {
    wdith: 100px;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}
td {
    border: 1px solid #ffffff;
    width: 100px;
}
iframe {

}
h2 {
    margin-top: 50px;
}